@use '../util' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(24);

  &__image {
    @include widthAndHeight(rem(34), rem(34))
  }

  &__logo {
    @include widthAndHeight(rem(84), rem(42))
  }
}